*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.big-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: #141922;
}
.nav-top-primaria{
    background-color: #080b12;
    min-height: 100px;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
}
.container-section{
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}
.container-section ul{
    display: flex;
    list-style-type:none;
}
.container-section ul a{
    text-decoration: none;
    padding: .5rem;
    color: #7d7f84;
}
.btn{
    background-color: #080b12;
    border: 1px solid white;
    border-radius: 20px;
    padding: .5rem 1rem .5rem 1rem;
    color: white;
}
.btn:hover{
    padding: .7rem 1.5rem .7rem 1.5rem;
}
.btn:focus{
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
}
.container-centrale{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}
.nav-laterale{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #797979;
    min-width: 150px;
}
.icone-nav-laterale-top{
    flex-grow: 1;
}
.nav-laterale svg{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.container-icone-nav-laterale{
    padding-left: 0;
}
.container-icone-nav-laterale i{
    font-weight: 900;
    padding-right: .2rem;
}
.container-icone-nav-laterale li{
    padding-top: .4rem;
    padding-bottom: .4rem;
    list-style-type: none;
}
.container-icone-nav-laterale a{ 
    padding-left: 1rem;
    text-decoration: none;
    color: white;
}
.lista-playlist-laterale{
    padding-left: 0;
}
.lista-playlist-laterale li{
    list-style-type: none;
}
.lista-playlist-laterale a{
    padding: .2rem;
    text-decoration: none;
    color: white;
}


.container-card{
    /* usando qua L'OVERFLOW LA PAGINA SI COMPORTA BENE MA
     IL BANNER NON RIMANE FISSO */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-x: hidden;
    flex-grow: 1;
    
}
/* USANDOLO QUA L'OVERFLOW SARA FISSATO 
IL BANNER SOPRA MA NON SI VEDRà CORRETTAMENTE 
IL CONTENUTO */
.container-cards{
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1240px;
    color: white;
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding-left: 1rem;
}
/* .barra-player{
    /* min-height: 150px; */

.list-card{
    display: flex;
    row-gap: 2rem;
    column-gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.card{
    position: relative;
    flex-basis: calc((100% / 6 ) - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(/img/stranger.jpeg);
    background-position: center;
    background-size: contain; */
}
.card img{
    width: 100%;
    object-fit: contain;
}
.card img:hover{
    opacity: 0.3;
}
.card i{
    display: none;
}
.card i{
    display: none;
    top: 20%;
    font-size: 4rem;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
.card:hover i{
    display: block;
    z-index: 4;
}

.titolo-lista{
    padding-top: 1.5rem;
}
.sottotitolo-lista{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.artists{
    padding-top: 1rem;
    gap: 1.5rem;
}
.artists > .card{
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;    
}
.card.artist-1{
    background-image: url(/img/einaudi.jpeg);
}
.card.card.artist-2{
    background-image: url(/img/youg.jpeg);
}
.barra-player{
    display: flex;
    background-color: #282828;
    justify-content: space-between;
    color: white;
}
.barra-player.left{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.barra-player.left img{
    height: 50px;
}

.barra-player.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: .5rem;
}
.icone-player.centro{
    padding-bottom: 1rem;
}
.icone-player.centro i{
    padding: 1rem;
    
}
.line-player{
    border-radius: 5px;
    height: 5px;
    width: 200px;
    background-color: #5a5a5a;
    padding-bottom: .5rem;
}
.barra-player.right{
    gap: 1rem;
    align-items: center;
}

/* effetti */
.container-section ul a:hover{
    color: white;

}

.line-section{
    display: none;
    width:  70px ;
    height: 3px;
    background-color: greenyellow;
}

.link-nav-laterale:hover{
    color: white;
}
.link-section:focus .line-section{
    display: block;
}
.playlist-nav-laterale>h3:hover{
    color: white;
}
.playlist-nav-laterale>h3:focus{
    border-left: 4px solid green;
    color: white;
}
.playlist-nav-laterale h4:hover{
    color: white;
}
.nav-laterale h4:hover{
    color: white;
}
.user-nav-laterale h3:hover{
    color: white;
}
.user-nav-laterale i:hover{
    color: white;
}

@media screen and (max-width: 1000px) {  
    .card{
        flex-basis: calc((100% / 4) - 1rem);
    }
    
}

@media screen and (max-width: 800px) {
    .container-cards{
        max-width: 750px;
    }
    .card{
        flex-basis: calc((100% / 2) - 1rem );
    }
}